@page
@model IndexModel
@{
    ViewData["Title"] = "Animal";
}

<form method="post">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Sound</th>
            </tr>
        </thead>
        @if(Model.animals2.Count < 1)
        {
            @foreach(var a in Model.animals)
            {
            
                 @for(int i=0; i<a.Key.Count; i++)
                {
                    <tr>
                        <td>@a.Key[i]</td>
                        <td>@a.Value[i]</td>
                    </tr>
                }
            
            }
        }
        else
        {
            @foreach(var item in Model.animals2)
            {
                  <tr>
                        <td>@item.Key</td>
                        <td>@item.Value</td>
                    </tr>

            }
        }
        

    </table>

    <input type="submit" value="Save File" asp-page-handler="SaveFile"></input>

</form>
<form asp-action="LoadFile" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile"/>
    <br/>
    <input type="submit" value="Load" asp-page-handler="LoadFile"/>
</form>
